[user]
  email = tom@asana.com
  name = Tom Brow

[alias]
  st = status
  br = branch
  co = checkout
  sha = rev-parse --short HEAD
  cp = cherry-pick

[push]
  default = simple
[core]
	excludesfile = /Users/asana/.gitignore_global
