[user]
  email = tom@tombrow.com
  name = Tom Brow

[alias]
  st = status
  br = branch
  co = checkout
  sha = rev-parse --short HEAD
  cp = cherry-pick

[push]
  default = simple
[core]
	excludesfile = /Users/tombrow/.gitignore_global
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
