/*
 *  Hide window controls
 */

.titlebar-buttonbox-container {
    display: none !important;
}
.titlebar-placeholder, #TabsToolbar .titlebar-spacer{ 
    display: none;
}
#navigator-toolbox::after{
    display: none !important;
}

/*
 *  Hide all the clutter in the navbar
 */

#main-window :-moz-any(
    #PanelUI-button,
    #back-button,
    #forward-button,
    #stop-reload-button,
    #home-button,
    #star-button,
    #urlbar-zoom-button,
    #save-to-pocket-button,
    #tabs-newtab-button,
    #permissions-granted-icon,
    #fxa-toolbar-menu-button,
    #tracking-protection-icon-container
) { 
    display: none !important; 
}

toolbarspring {
    display: none !important;
}

/*
 *  Hide tabs if only one tab
 *  https://gist.github.com/BenoitAverty/af633ee20e27f48f9ba7178451432206
 */

:root {
    --hidetabs-tab-min-height: 200px;
}

:root[uidensity=compact] {
    --hidetabs-tab-min-height: 200px;
}

:root[uidensity=touch] {
    --hidetabs-tab-min-height: 200px;
}

/* Set --tab-min-height to 0px so tab bar can disappear */
#tabbrowser-tabs {
    --tab-min-height: 0px;
}

/* Restore minimum height when more than one tab */
#tabbrowser-tabs tab {
    min-height: var(--hidetabs-tab-min-height);
}

/* Collapse tab bar when there is only one tab (tab is both first & last) */
#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
    visibility: collapse;
}

toolbar#TabsToolbar {
    min-height: 0px !important;
}